[flake8]
max-line-length = 120
exclude = .venv,venv*,legacy,.git,__pycache__,build,dist
# E203 is incompatible with Black (whitespace before ':')
# C901 is complexity warning
# E501 is line length
ignore = C901,E501,E203
# Check for these specific errors
select = E9,F63,F7,F82,E741,E722,F401,F402,F541,F841
