name: Crowdin Sync

on:
  push:
    branches: [next-release]
    paths:
      - "translations/**/*.json"
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-crowdin:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref || github.ref_name }}
          fetch-depth: 0

      - name: Crowdin Sync
        uses: crowdin/github-action@v2
        with:
          upload_sources: true
          upload_translations: false
          download_translations: true
          config: "crowdin.yml"
          create_pull_request: false
          push_translations: true
          commit_message: "chore: Update translations from Crowdin"
          localization_branch_name: ${{ github.head_ref || github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_TOKEN }}
